
/*
Medidas Asolutas
cm , mm , in , px ,( pt , pc)papel 

Medidas Relativas
em , ex(altura x) , rem(relativo a fonte) , vw, vh , % 
FONT-SIZE  -> px , em
16px = 1em
*/
*{
    margin: 0;
}

body{
    font-family: cursive;
    font-size: 1em;
    font-weight: 500;
    /*lighter normal bold bolder 
    Font-style , font-weight , font-size , font-family
    */
}
h1,h2{
    background-color: aquamarine;
    text-align: center;
    font-size: 23px;
    color: darkorange;
}
p{
    text-align: center;
}