@charset "UTF-8";

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to bottom,#FDD540,#F2D264,#FDD540);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 15px #c5a539d7;


    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FFCB05;
    text-align: center;
    text-shadow: 1px 1px 2px #92770cd7;
}
h2{
    color: #434142;
    padding: 15px;
}


p{
    text-align: justify;
}