@charset "UTF-8";


body{
    background-color: lightblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: darkblue;
    background-color: darkcyan;
}
h2{
    color: blueviolet;
}
p{
    text-align: justify;
    color: darkcyan;
}
