

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: black;
}

h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
}
h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
}